extends ./layout

block content 
	h1 This is going to be a solid app at some point 
	

	div(id = 'newRoom')
		button(onclick = 'newRoom()' type = button).
			Create New Room

	div(id='login')
		P please enter room number
		br
		input(type = 'text', id='roomId')
		br
		P please enter your user name
		br
		input(type= 'text', id = 'userName')
		br
		button(onclick= 'join()', type = button).
			join

	

	div(id='master')
		button(onclick ='soundRally()', type = button).
			Sound

	div(id='piano')
		P this is your piano

