extends ./mobileLayout

block content 
	h1 This is going to be a solid app at some point 

	please enter room number
	input(type = 'text', id='roomId')
	button(onclick= 'join()', type = button).
		join
